Configuration(
    files: {
        "../README.md":  [
            "header.md",
            "docs.md",
            "https://github.com/khonsulabs/.github/raw/main/snippets/readme-footer.md",
        ],
        "../src/.crate-docs.md":  (
            for_docs: true,
            sections: [
                "docs.md",
            ]
        ),
        "../CONTRIBUTING.md":  [
            "https://github.com/khonsulabs/.github/raw/main/docs/CONTRIBUTING.md",
        ],
        "../CODE_OF_CONDUCT.md":  [
            "https://github.com/khonsulabs/.github/raw/main/docs/CODE_OF_CONDUCT.md",
        ],
        "../LICENSE-APACHE":  [
            "https://github.com/khonsulabs/.github/raw/main/licenses/LICENSE-APACHE",
        ],
        "../LICENSE-MIT":  [
            "https://github.com/khonsulabs/.github/raw/main/licenses/LICENSE-MIT",
        ],
    },
    glossaries: [
        "https://github.com/khonsulabs/.github/raw/main/snippets/glossary.ron",
        {
            "docs-base": (
                default: "https://khonsulabs.github.io/budget-executor/main/budget_executor",
                release: "https://docs.rs/budget-executor",
            ),
            "src-base": (
                default: "https://github.com/khonsulabs/budget-executor/blob/main",
                release: "https://github.com/khonsulabs/budget-executor/blob/v0.0.0",
            ),
            "blocking-run": (
                default: "https://khonsulabs.github.io/budget-executor/main/budget_executor/blocking/fn.run_with_budget.html",
                release: "https://docs.rs/budget-executor/*/budget_executor/blocking/fn.run_with_budget.html",
                for_docs: "blocking::run_with_budget",
            ),
            "async-run": (
                default: "https://khonsulabs.github.io/budget-executor/main/budget_executor/asynchronous/fn.run_with_budget.html",
                release: "https://docs.rs/budget-executor/*/budget_executor/asynchronous/fn.run_with_budget.html",
                for_docs: "asynchronous::run_with_budget",
            ),
            "spend": (
                default: "https://khonsulabs.github.io/budget-executor/main/budget_executor/fn.spend.html",
                release: "https://docs.rs/budget-executor/*/budget_executor/fn.spend.html",
                for_docs: "spend",
            ),
            "spend": (
                default: "https://khonsulabs.github.io/budget-executor/main/budget_executor/fn.spend.html",
                release: "https://docs.rs/budget-executor/*/budget_executor/fn.spend.html",
                for_docs: "spend",
            ),
            "blocking-continue": (
                default: "https://khonsulabs.github.io/budget-executor/main/budget_executor/blocking/struct.IncompleteFuture.html#method.continue_with_additional_budget",
                release: "https://docs.rs/budget-executor/*/budget_executor/blocking/struct.IncompleteFuture.html#method.continue_with_additional_budget",
                for_docs: "blocking::IncompleteFuture::continue_with_additional_budget",
            ),
            "async-continue": (
                default: "https://khonsulabs.github.io/budget-executor/main/budget_executor/asynchronous/struct.IncompleteFuture.html#method.continue_with_additional_budget",
                release: "https://docs.rs/budget-executor/*/budget_executor/asynchronous/struct.IncompleteFuture.html#method.continue_with_additional_budget",
                for_docs: "blocking::IncompleteFuture::continue_with_additional_budget",
            ),
            "async": (
                default: "https://khonsulabs.github.io/budget-executor/main/budget_executor/asynchronous/index.html",
                release: "https://docs.rs/budget-executor/*/budget_executor/asynchronous/index.html",
                for_docs: "asynchronous",
            ),
            "blocking": (
                default: "https://khonsulabs.github.io/budget-executor/main/budget_executor/blocking/index.html",
                release: "https://docs.rs/budget-executor/*/budget_executor/blocking/index.html",
                for_docs: "blocking",
            ),
        }
    ],
)